{% extends "base.html" %}
{% load static %}

{% block content %}
   <div class="spacer"></div>
   
   <div class="middle">
      <!-- Scroll button -->
      <i onclick="location.href='#servers'" class="fa-solid fa-arrow-down arrow"></i>
   </div>

   <div id="servers">
      <h2 class="section-title">Pick a server to view</h2>
      <div class="spacer"></div>
      {% for server in servers %}
      <section class="card">
         <a href="http://127.0.0.1:8000/admin/authed?server_id={{server.id}}">{{ server.name }}</a>
         <img href="http://127.0.0.1:8000/admin/authed?server_id={{server.id}}" src="https://cdn.discordapp.com/icons/{{server.id}}/{{ server.icon }}.png"></img>
         {% comment %} <a href="https://Invisiblebot.ga/admin/authed?server_id={{server.id}}">{{ server.name }}</a>
         <img href="https://Invisiblebot.ga/admin/authed?server_id={{server.id}}" src="https://cdn.discordapp.com/icons/{{server.id}}/{{ server.icon }}.png"></img> {% endcomment %}
      </section>
      {% endfor %}
   </div>

   <div class="spacer"></div>


{% endblock %}