<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0"
</head>
<body>

   <div class="header">
      <nav>
         <a href="#" class="logo"><img src="static/logo.png"></a>
         <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/admin">Admin</a></li>
         </ul>
         <div class="toggle-btn" id="btn">
            <span id="btnText">Dark</span>
            <img src="static/moon.png" id="btnIcon">
         </div>
      </nav>

      <div class="content">
         <h1>Welcome to Incognito!</h1>
         <p>
            This entire project so far has been created by Collin, with the help of some other websites, ideas from friends, and help from the disnake support server and the python discord. I watched a youtube video on django for oauth2, even though this is a flask/python app shoutout to that guy because the discord docs were kinda hard to understand (https://www.youtube.com/@ansonthedev) < His youtube, another special shoutout to DLCHAMP#6450, and Victorsitou#7165
            on discord for giving me countless help and I really appreciate them so much, I started this project on 11/2/22 originally on Django but i couldnt figure out how to run the discord bot asynchronously with django so I switched to flask, which also takes up much less space and the project root is much easier to navigate and easier to read, im using postgre sql on https://app.supabase.com/ which is a great hosting app that I got for free. I originally started this project because I wanted to learn how backend python development and some html/css/js
         </p>
      </div>
      
      <div class="discord">
         <iframe src="https://discord.com/widget?id=1035676268873654282&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
      </div>

   </div>
<script>
let btn = document.getElementById("btn");
let btnText = document.getElementById("btnText");
let btnIcon = document.getElementById("btnIcon");

btn.onclick = function(){
   document.body.classList.toggle("dark-theme");

   if (document.body.classList.contains("dark-theme")){
      btnIcon.src = "static/sun.png";
      btnText.innerHTML = "Light";
   }else{
      btnIcon.src = "static/moon.png";
      btnText.innerHTML = "Dark";
   }
}
</script>
</body>
<link rel="stylesheet" href="static/styles.css">

