<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0"
</head>
<body>



   <h1>
      Welcome to Incognito! 
   </h1>
   <p>
      Incognito is a simple application made on flask with python (including disnake for the discord bot.) {{ var }}
   </p>

   <button class="button">Discord</button>

   <div class="spacer2 layer2"</div>
</body>
<link rel="stylesheet" href="static/styles.css">

