/* Import font */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

/* Particles.JS */
#particles-js {
   height: 100%;  
   width: 100%;
   position: fixed;
   top: 5%;
   z-index: -1;
   overflow-y: hidden;
}

/* Hiding Overflow ECT*/
* {
   overflow-x: hidden;
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
}

/* Logo */
.logo {
   color: transparent;
   text-transform: uppercase;
   letter-spacing: 5px;
   font-size: 20px;
}

/* Navigation Bar */
nav {
   display: flex;
   justify-content: space-around;
   align-items: center;
   min-height: 10vh;
}

ul {
   display: flex;
   list-style: none;
   justify-content: space-around;
   width: 30%;
}

nav a {
   text-decoration: none;
   color: #FF5733;
   font-weight: bold;
}

nav a:hover {
   cursor: pointer;
   color: #fff;
}

.search-box {
   border-radius: 40px;
   height: 40px;
   padding: 10px;
   overflow: hidden;
}

.search-box:hover {
   background: #FF5733;
}

.search-box:hover > .searchbox{
   width: 240px;
   top: 50px;
   border-radius: 40px;
}
.search-box:hover > .search-btn{
  background: #fff;
}

.search-btn{
   color: #e84118;
   float: right;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background: #000;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 0.4s;
   text-decoration: none;
}

.searchbox {
   color: #fff;
   border: none;
   background: none;
   outline: none;
   float: left;
   padding: 0 15px;
   font-size: 16px;
   line-height: 40px;
   width: 0px;
   transition: 1s ease-in-out;   
}

/* Body/Background */
body {
   font-family: 'Josefin Sans', sans-serif;
   background-color: #000;
   overflow: hidden;
}

/* Font Awesome Icon */
.discordico {
   color: #FF5733;
}

.discordico:hover {
   cursor: pointer;
}

.arrow {
   margin-bottom: 15%;
   color: #FF5733;
}

.arrow:hover {
   cursor: pointer;
}

/* Middle Section */
.middle {
   width: 100%;
   align-items: center;
   text-align: center;
   padding: 10px 0;
   overflow-y: hidden;
}

/*  Main  */
.main {
   margin-left: 5%;
   margin-top: 10%;
   animation: fadein-slideright 1s ease-in-out;

}

.main h1 {
   display: inline;
   color: #FF5733;
   font-size: 8rem;
}

.main h2 {
   color: #FF5733;
   font-size: 3rem;
}

/* Spacing */
.spacer {
   margin-top: 100px;
}

.minispacer{
   margin-top: 25px;
}

/* Sections */
.section-title {
   text-align: center;
   color: #FF5733;
   text-transform: uppercase;
   font-weight: normal;
   padding: 30px 0;
   max-width: 90%;
   border-bottom: 1px solid #fff;
   margin-right: 5%;
   margin-left: 5%;
}

.card {
   min-height: 500px;
   overflow-y: hidden;
   margin-left: 100px;
   margin-right: 100px;
}

.card a {
   max-width: 45%;
   float: left;
   font-weight: bold;
   font-size: 96px;
   color: #FF5733;
   padding: 200px 0;
   border-bottom: 1px solid #fff;
   text-decoration: none;
}

.card a:hover {
   color: #fff;
}

.card img {
   width: 256px;
   height: 256px;
   float: right;
   display: flex;
   clear: middle;
   margin-top: 200px;
   padding: 0 20px;
}

.card p {
   color: #fff;
   width: 512px;
   height: 256px;
   float: right;
   display: flex;
   clear: middle;
   margin-top: 200px;
   padding: 0 20px;
}

.database {
   color: #fff;
   text-align: center;
}

/* Chat */
.message {
   color: #fff;
   text-align: center;
}

/* Footer */
footer {
   color: #fff;
   text-align: center;
   padding: 30px 0;
   bottom: 0;
   left: 0;
   right: 0;
   position: sticky;
   width: 100%;
}

/* effect thing */
.effect {
   text-align: center;
   position: absolute;
   margin-left: 5%;

}

.effect:nth-child(1) {
   color: #fff;
}

.effect:nth-child(2) {
   color: #FF5733;
   animation: flow 3s ease-in-out infinite;
}

@keyframes flow {
   0%, 100% {
      clip-path: polygon(2% 49%, 8% 55%, 16% 58%, 25% 62%, 35% 55%, 44% 50%, 55% 50%, 63% 53%, 71% 57%, 77% 59%, 85% 55%, 91% 47%, 100% 40%, 100% 100%, 0 100%);
   }
   50% {
      clip-path: polygon(2% 49%, 10% 48%, 19% 51%, 25% 48%, 36% 66%, 51% 55%, 58% 46%, 66% 47%, 69% 47%, 79% 63%, 90% 64%, 97% 57%, 100% 50%, 100% 100%, 0 100%);
   }
}

.slideup.in-viewport {
   animation: fadein-slideup 1s ease-in-out;
}

.slidedown.in-viewport {
   animation: fadein-slidedown 1s ease-in-out;
}

.slideright.in-viewport {
   animation: fadein-slideright 1s ease-in-out;
}

.slideleft.in-viewport {
   animation: fadein-slideleft 1s ease-in-out;
}

.in-viewport.slidein {   
   animation: fadein-slideup 1s ease-in-out;
}

@keyframes fadein-slideup {
   0% {
      opacity: 0;
      transform: translate(0, 300px);
   }
   100% {
      opacity: 1;
      transform: translate(0px, 0px)
   }
}

@keyframes fadein-slideright {
   0% {
      opacity: 0;
      transform: translate(-300px, 0);
   }
   100% {
      opacity: 1;
      transform: translate(0px, 0px)
   }
}

@keyframes fadein-slideleft {
   0% {
      opacity: 0;
      transform: translate(300px, 0);
   }
   100% {
      opacity: 1;
      transform: translate(0px, 0px)
   }
}

@keyframes fadein-slidedown {
   0% {
      opacity: 0;
      transform: translate(0, -300px);
   }
   100% {
      opacity: 1;
      transform: translate(0px, 0px)
   }
}