<!DOCTYPE html>
{% load static %}
<html>
<head>
<meta charset="UTF-8">
<title>Incognito</title>
<link rel="stylesheet" href="{% static 'styles.css' %}"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>
<body>
   <div id="particles-js">
   </div>
   <div class="middle slidedown">
      
      <h1>Incognito.</h1>
      <h2>A Simple Discord Application</h2>
      <i onclick="location.href='https://discord.gg/tSwMrkneyX'" class="fab fa-discord social"></i>
      <p>Feel free to join the discord by clicking the widget seen above to talk to me, or add me on discord: Collin#2397, ideas are also very helpful.</p>
   </div>
   
   <div class="footer">
      Made By Collin <br></br> <a href="https://github.com/Collin8432">GitHub</a>
  </div>

</body>
<script src="{% static 'index.js' %}"></script>
<script src="{% static 'particles.js' %}"></script>
<script src="{% static 'app.js'%}"></script>
</html>