{% extends "base.html" %}
{% load static %}

{% block content %}
      <div class="spacer"></div>

      <div class="middle">
         <!-- Scroll button -->
         <i onclick="location.href='#about'" class="fa-solid fa-arrow-down arrow"></i>
      </div>

      <!-- About Section -->
      <div class="spacer"></div>
      <section id="about" class="card">
         <a href="#about">About</a>
         <p>This project was started on 11/2/22, It was originally just starting a discord bot, but I wanted to make a web dashboard type of thing, and I also wanted to learn Django, and more about backends in html and how they work, how to make them.</p>
      </section>

      <div class="spacer"></div>

      <!-- Contact Section -->
      <div class="spacer"></div>
      <section id="contact" class="card">
         <a href="#contact">Contact</a>
         <p>Join the Discord(https://discord.gg/tSwMrkneyX) to chat or just add me at Collin#2397</p>
      </section>

      <div class="spacer"></div>

      <!-- Price/Pricing Section -->
      <div class="spacer"></div>
      <section id="pricing" class="card">
         <a href="#pricing">Pricing</a>
         <p>I am able to make you a website (backend of course) with django@railway, add me on discord: Collin#2397<br>The starter plan would be 5$/month on railway, and a domain which could range but shouldnt be anything over 30$/year, but I would make the website first, then you would create the railway account, pay for the subscription and I could set everything else up.</p>
      </section>

      <div class="spacer"></div>
{% endblock %}